:root {
  --pry: rgba(0, 255, 255, 0.1);
  --pry2: rgba(0, 255, 255, 0.5);
  --sec: black;
  --sec2: white;
}





/* Navbar */

.btn {
  transition: 0.5s;
}

.btn:hover {
background-color: var(--pry) !important;
color: black !important;
padding: 0.7em !important;
border: solid 0.5px black;
}

.nav_bar {
  width: 100%;
  max-width: 1296px;
  text-decoration: none;
  margin: 0 auto;
}

.nav-options {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
}

.Nav_{
 display: flex;
 flex-direction: column;
justify-content: center;
align-items: center;
 width: 100%;
 margin: 1em;
}

.Nav_ li {
  width: 100%;
  padding: 0.5em;
}

.nav_link {
  width: 60%;
  margin: auto;
  color: black;
  transition: 0.3s;
  display: grid;
  place-items: center;
  border-bottom: solid 0.1px  black;
}

#nav_link {
  width: 100%;
}

.nav_link:hover {
  border-bottom: solid 0.1px var(--pry);
  color: var(--pry2);
}

.logo {
  width: 100%;
  max-width: 150px;
  height: auto;
}


.Nav_1 {
/* width: 40vw; */
display: flex;
align-items: center;
justify-content: center;
width: 50vw;
max-width: 400px;
}



/* sidebar */
.sidebar_container {
  height: 100vh;
  width: 30vw;
  max-width: 300px;
  background-color: var(--pry);
  border-right: solid 3px var(--pry2);
}


.side_ {
  display: flex;
  flex-direction: column;
  color: black;
}

.side_link {
  text-decoration: none;
  color: black;
  font-size: 1.2em;
  display: flex;
  align-items: center;
}

.side_link ion-icon {
  padding-right: 0.5em;
}

.side_close {
  position: absolute;
  top: 10vh;
}


/* Hero */
.Hero_container {
  background-color: var(--pry);
}

.hero_context {
  width: 90%;
  /* margin: auto; */
  max-width: 1200px;
}


.hero_bg_text {
  /* position: absolute; */
  font-weight: 1000;
  font-size: clamp(1em, 9vw, 3.5em);
  text-shadow: 10px 10px 15px grey;
  padding: 0;
}

.hero__text {
  font-size: clamp(1em, 9vw, 1.2em);
}

/* .hero_text h1 {
  font-weight: 700;
  font-size: clamp(1.5em, 3vw, 3.5em);
} */

/* .hero_img_div {
width: 40%;
} */

.hero_img {
  width: 100%;
  max-width: 600px;
  display: grid;
  place-items: center;
}

@media (min-width: 768px) {
  .hero_text {
    width: 60%;
  }
}

/* footer */

.footer-bg {
  background-color: var(--pry);
  text-decoration: none;
}

.logo1 {
  width: 30%;
 max-width: 120px;
}

.socials ion-icon {
  /* color: white; */
  padding-right: 10px;
  font-size: 20px;
}

ul {
  display: flex;
  padding: 0;
  text-decoration: none;
}

li {
  display: block;
  /* margin-top: 0.7em; */
  margin: 0.5em clamp(0.5em, 3vw, 1em);
  
}

.footer_content {
  display: grid;
  place-items:center;
 }


/* input */

.input_body {
  display: flex;
}

.input_container {
  width: 100%;
  padding: 2em;
}

.input_hide {
  display: none;
}
.input-label {
  /* width: 100%; */
  /* max-width: 500px; */
  height: 30vh;
  text-align: center;
  /* padding-top: 40px; */
  font-weight: 700;
  font-size: 1.5em;
  border: 2px dashed var(--pry2);
  margin: auto;
  display: grid;
  place-items: center;
}

.input_sidebar {
  display: none;
}


/* preview */

/* Sign-in */

.signin-left {
  background-color: var(--pry);
  width: 45vw;
  height: 90vh;
  border-radius: 10px;
}

.signin-right {
  /* background-color: var(--pry); */
  /* width: 50vw; */
  height: 90vh;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.signin-right form,
.signin-field,
.signin-right button {
  /* border: 1px solid black; */
  width: 100%;
  border-radius: 5px;
  font-size: clamp(1em, 3vw, 1.2em);
  border: none;
}

.signin-field {
  background: var(--pry);
}

.signin-field:focus {
  /* border:1px solid var(--pry2); */
  background: var(--sec);
  color: var(--sec2);
}

.signin-right button {
  background: black;
  border: none;
  color: var(--sec2);
}

.signin-right button:hover {
  background: var(--pry);
  border: none;
  color: var(--sec);
}

.signUp_link {
  text-decoration: none;
}

/* Features */

.card_container {
  display: grid;
  place-items: center;
  /* grid-template-columns: 1fr 1fr; */
}

@media (min-width: 550px) {
  .card_container {
    grid-template-columns: 1fr 1fr;
    /* grid-gap: 100px; */
  }
}

@media (min-width: 1200px) {
  .card_container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* grid-gap: 100px; */
  }
}

.card {
  width: 100%;
  max-width: 250px;
  height: 250px;
  background-color: var(--sec);
  color: var(--sec2);
  border-radius: 20px;
  margin-top: 2em;
  display: grid;
  place-items: center;
}

.card ion-icon {
  font-size: 50px;
}



/* 404 page */

.four {
display: grid;
place-items: center;
width: 100vw;
text-align: center;
}

.four04img {
  width: 100vw;
  max-width: 1000px;
  margin: 0 auto;
}
